@import "assets/fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Kufi+Arabic:wght@600&display=swap');

:root {
    --violet-dark-color: #140739;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fractul Alt" ;
    color: #ffffff !important;
    background-color: var(--violet-dark-color) !important;
    transition: 0.1s all !important;
    scroll-behavior: smooth;
}

body.ar {
    direction: rtl;
    font-family: 'Noto Kufi Arabic', sans-serif;;
}

.eg8-container {
    width: 1520px !important;
    margin: 0 auto;
}


/*  */
.scroll-to-top {
    position: fixed;
    bottom: 140px;
    right: 40px;
    transition: all .2s ease-in-out;
    outline: none;
}


body.ar .scroll-to-top {
    left: 40px;
    right: auto;
}

.scroll-to-top button {
    outline: none;
    background: none !important;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

/* Start SCROLL BAR */
.scroll-bar-container {
    position: fixed;
    top: 40vh;
    width: 120px;
    left: 30px;
}

body.ar .scroll-bar-container {
    right: 30px;
    left: auto;
}

.scroll-bar-section {
    width: 100% ;    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4px 0;
    transition: all .5s ease-in-out;
}

.square {
    margin: 4px 10px 0;
    width: 10px;
    height: 15px;
    background-color: #9900e0;
    opacity: .4;
    transition: all .3s ease-in-out;
}

.section-title {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
}

.section-title small:nth-child(1) {
    font-weight: bold;
}

.section-title small:nth-child(2) {
    font-size: 11px;
}

.scroll-bar-section.active {
    margin: 8px 0;
}

.scroll-bar-section.active .square {
    height: 30px;
    width: 10px;
    opacity: 1;
}

.scroll-bar-section.active .section-title {
    display: flex;
}
/* End SCROLL BAR */


/* Start NAVBAR */
.nav-container {
    z-index: 21;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
}

.eg8-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.eg8-navbar .esport-logo {
    width: 117px;
    height: 97px;
}

.eg8-navbar .esport-logo img {
    width: 100%;
}

.eg8-navbar .esport-nav-menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
}

.eg8-navbar .esport-nav-menu .nav-item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px 10px !important;
    position: relative;
    font-size: 22px;
}   

.eg8-navbar .esport-nav-menu .nav-item img {
    position: absolute;
    bottom: 200px;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.eg8-navbar .esport-nav-menu .nav-item.active img {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    z-index: 1;
}

.eg8-navbar .esport-nav-menu .nav-item:hover img {
    opacity: .6;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    z-index: 1;
}

.eg8-navbar .esport-nav-menu .nav-item small {
    z-index: 2;
}

.eg8-navbar .chng-to-arabic {
    font-weight: bold;
    font-family: 'Noto Kufi Arabic', sans-serif;
    cursor: pointer;
}

/* End NAVBAR */


/* Start HEADER */
.eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171),#140739b7, #140739), url('./assets/images/header-bg.png'); 
    /* background-position:bottom; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    margin-bottom: 2vh;
}


.eg8-header > div {
    height: 100%;
}

.eg8-header .header-title {
    min-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.eg8-header .header-title > img {
    width: 600px;
    margin-top: 300px;
}

.eg8-header .header-title h1 {
    font-size: 65px;
    font-weight: bold;
}

.eg8-header .scroll-down-note {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -4%;
}

.eg8-header .scroll-down-note span {
    margin-top: 10px;
    opacity: .8;
    font-size: 11px;
}



.eg8-header .more-info {
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.eg8-header .more-info > div {
    margin-top: 15px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eg8-header .more-info img {
    height: 85px;
    margin-bottom: 20px;
}

.eg8-header .more-info p {
    margin-top: 5px;
    width: 110%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}


/* End HEADER */


/* Start INTODUCTION-TEXT */
.introduction-text .content{
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#140739b7, #140739), url('./assets/images/mask-group-bg.png');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin-top: 8%;
}


.introduction-text p {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.introduction-text{
    background: linear-gradient(#140739, rgba(255, 255, 255, 0), #140739), url('./assets/images/02-bg.png');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction-text .gamers-season {
    height: 45vh;
    margin-top: -11%;
}

.introduction-text > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-text .gamers-season img {
    width: 590px;
}
/* End INTODUCTION-TEXT */


/* Start Professional-Esports  */
.professional-esports {
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#140739b7, #140739), url('./assets/images/professional-esport-bg.png');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.professional-esports .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.professional-esports .content > div {
    margin-top: 10%;
}

.professional-esports .content h1 {
    font-size: 60px;
    font-weight: bold;
}

.professional-esports .content img {
    margin: 30px 0 30px -10px;

}

.professional-esports .content p {
    font-size: 30px;
    font-weight: 500;
    width: 38%;
}
/* End Professional-Esports  */


/* Start FESTEVAL */
.festival {
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#1407393d, #140739), url('./assets/images/03-bg.png'); 
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.festival .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.festival .content > div {
    margin-top: 20%;
}

.festival h1 {
    font-size: 60px;
    font-weight: bold;
}

.festival p {
    font-size: 30px;
    font-weight: 500;
    width: 38%;
}
/* End FESTEVAL */

/* Start SAUDI-SPORT */
.saudi-esports  {
    height: 90vh;
}

.saudi-esports .content {
    padding-top: 10% ;
}

.saudi-esports .content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.saudi-esports p {
    font-size: 30px;
    font-weight: 500;
    width: 80%;
    text-align: center;
}
/* End SAUDI-SPORT */

/* Start MUSIC CONCERTS */
.music-concert {
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#140739b7, #140739), url('./assets/images/mask-group-bg.png'); 
    background-position:bottom;
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 120vh;
    padding: 5% 0;

}

.music-concert .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-concert .content h1 {
    font-size: 60px;
    font-weight: bold;
}

.music-concert .content p {
    font-size: 30px;
    font-weight: 500;
    width: 70%;
}
/* End MUSIC CONCERTS */


/* Start SUMMIT FACTSHEET */

.summit-factsheet {
    height: 120vh;
    padding: 5% 0;

}

.summit-factsheet .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summit-factsheet .content h1 {
    font-size: 60px;
    font-weight: bold;
}

.summit-factsheet .content p {
    font-size: 30px;
    font-weight: 500;
    width: 70%;
}

.summit-factsheet .info {
    padding: 5%;
}

.summit-factsheet .summit-date {
    margin-top: 20px;
}

.summit-factsheet .summit-date > span {
    display: block;
    font-size: 30px;
    margin-top: 15px;
}
.summit-factsheet .summit-date i {
    margin-right: 10px;
}

.summit-factsheet .more-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.summit-factsheet .more-info > div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summit-factsheet .more-info img {
    height: 85px;
    margin-bottom: 20px;
}

.summit-factsheet .more-info p {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.summit-factsheet-card {
    position: relative;
    filter: drop-shadow(-1px 2px 2px rgba(207, 207, 207, 0.719));
    transition: all .1s ease-in-out;
    cursor: pointer;
    float: left;
    margin: 10px 30px ;
    font: normal normal normal 24px/30px 'Inter', sans-serif;
    transition: all .4s ease-in-out;
    width: 716px;
    height: 819px;
}

.summit-factsheet-card .svg-clipped {
    -webkit-clip-path: polygon(2% 20%, 10% 13%, 10% 2%, 81% 2%, 90% 10%, 90% 55%, 98% 63%, 98% 98%, 30% 98%, 10% 81%, 10% 57%, 2% 50%);
    clip-path: polygon(2% 20%, 10% 13%, 10% 2%, 81% 2%, 90% 10%, 90% 55%, 98% 63%, 98% 98%, 30% 98%, 10% 81%, 10% 57%, 2% 50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 3px ;
    background-size: cover;
    background-position: center;
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#1407393d, #140739), url('./assets/images/people.png'); 
    background-repeat: no-repeat;
}
/* End SUMMIT FACTSHEET */


/* Start GAME AND LEARN */
.game-learn {
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#140739b7, #140739), url('./assets/images/play-arms.png'); 
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    padding: 5% 0;
}

.game-learn  h1 {
    font-size: 60px;
    font-weight: bold;
}
/* End GAME AND LEARN */


/* Start FOOTER */
.eg8-footer {
    height: 90px;
    background-color: black;
}

.eg8-footer .content {
    padding: 15px 0;
}

.eg8-footer .content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eg8-footer .copyrights {
    font-size: 22px;
}

.eg8-footer .content div:nth-child(3) img {
    margin: 0 10px;
}

.eg8-footer #footer-img {
    width: 225px;
}
/* End FOOTER */

/* Start TEST */
/* End TEST */



































/* IMAGE CARD */
.img-container2 {
    position: relative;
    filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.719));
    transition: all .1s ease-in-out;
    cursor: pointer;
    float: left;
    margin: 10px 30px ;
    font: normal normal normal 24px/30px 'Inter', sans-serif;
    transition: all .4s ease-in-out;
    width: 550px;
    height: 900px;
}

.outer {
    position: absolute;
    left: -7%;
    top: -3.5%;
    height: 107%;
    transition: all .3s ease-in-out;
}

.svg-clipped2 {
    clip-path: polygon(91% 0, 9% 0, 0 5%, 0 88%, 15% 100%, 93% 100%, 100% 95%, 100% 5%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 3px ;
    background-size: cover;
    background-position: top;
    background: linear-gradient(#140739, rgba(255, 255, 255, 0),#1407393d, #140739), url('./assets/images/music-concert.png'); 
    background-repeat: no-repeat;

}


.card-content {
    position: absolute;
    bottom: 0;
    left: 14%;
    z-index: 20;
    color: #fff;
    transition: all .3s ease-in-out;
    
}

.img-container2:hover .outer  {
    left: -8%;
    top: -4.5%;
    filter: drop-shadow(-1px 2px 1.5px rgba(255, 255, 255, 0));
}

.img-container2:hover {
    filter: drop-shadow(-1px 2px 3.5px rgba(255, 255, 255, 0.719));
}

.img-container2:hover .card-content{
    bottom: 9%;
}

.img-container2:hover .disable-content{
    opacity: 1;
}



