/* Start HEADER */
.eg8-header {
  background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
    url("./../../assets/images/header/header-bg-1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 248px;
  margin-bottom: 213px;
}
@media (max-width: 1900px) {
  .eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
      url("./../../assets/images/header/header-bg-1500.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1500px) {
  .eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
      url("./../../assets/images/header/header-bg-1200.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1200px) {
  .eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
      url("./../../assets/images/header/header-bg-900.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 900px) {
  .eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
      url("./../../assets/images/header/header-bg-600.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 600px) {
  .eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
      url("./../../assets/images/header/header-bg-300.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/*@media (max-width: 300px) {
  .eg8-header {
    background: linear-gradient(rgba(255, 255, 255, 0.171), #140739b7, #140739),
      url("./../../assets/images/header-bg-300.png");
  }
}*/

.eg8-header .header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
}

.eg8-header .header-title .more-info {
  padding-top: 15px;
  width: 50%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.eg8-header .header-title .more-info p {
  width: 133px;
}

.eg8-header .header-title > img {
  width: 600px;
  height: 142px;
  margin-top: 120px;
}

.eg8-header .header-title h1 {
  font-weight: bold;
}

.eg8-header .scroll-down-note {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url("./../../assets/images/mask-group-bg.png");
}

.eg8-header .scroll-down-note p {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 11px;
  width: 125px;
}

@media screen and (max-width: 1024px) {
  .eg8-header {
    /*background: linear-gradient(#140739b7, #140739b7, #140739),
      url("./../../assets/images/header-bg.png");*/
    /*background-size: 300%;
    background-position: 60% 0%;*/
    margin-bottom: 44px;
  }

  .eg8-header h1 span {
    display: block;
  }

  .eg8-header .header-title {
    margin-top: 0;
  }

  .eg8-header .header-title > img {
    width: 60%;
    height: auto;
    margin: 0;
    margin-bottom: 17px;
  }

  .eg8-header .header-title .more-info {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    gap: 20px;
  }

  .eg8-header .more-info .more-info-card {
    width: 104px;
  }

  .eg8-header .more-info .more-info-card p {
    width: auto;
  }
}
/* End HEADER */
