/* Start INTRODUCTION-TEXT */
.introduction-text {
  background: linear-gradient(
      #140739ab,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      #14073980,
      #140739c2,
      #14073986
    ),
    url("./../../assets/images/00005.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  height: 90vh;
  padding-top: 16%;
  margin-top: 2%;
}

.introduction-text .introduction-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-text > div:nth-child(1) {
  display: flex;
  justify-content: center;
}

.introduction-text p {
  text-align: center;
  margin-top: -1%;
}

.introduction-text .gamers-season {
  width: 32.5% !important;
  display: flex;
  justify-content: center;
  margin: auto;
}

.introduction-text .gamers-season img {
  width: 100%;
  margin-top: 12%;
}

@media screen and (max-width: 1024px) {
  .introduction-text {
    background: linear-gradient(
        #14073918,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        #14073952,
        #140739
      ),
      url("./../assets/images/00005.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding-top: 20%;
  }

  .introduction-text p {
    width: 100% !important;
    text-align: center;
  }

  .introduction-text .gamers-season {
    width: 70% !important;
  }

  .introduction-text .gamers-season img {
    width: 295px;
    margin-top: 16%;
  }
}

/* End INTRODUCTION-TEXT */
