/* Start INTRODUCTION-TEXT */
.introduction-text {
  background: linear-gradient(
      #140739ab,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      #14073980,
      #140739c2,
      #14073986
    ),
    url("./../../assets/images/00005.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  /*margin-bottom: 291px;*/
}

.introduction-text .introduction-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-text > div:nth-child(1) {
  display: flex;
  justify-content: center;
}

.introduction-text p {
  text-align: center;
  /*margin-top: -1%;*/
}

.introduction-text .gamers-season {
  width: 32.5% !important;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}

.introduction-text .gamers-season img {
  width: 100%;
  min-height: 40px;
}

@media screen and (max-width: 1024px) {
  .introduction-text {
    background: linear-gradient(
        #14073918,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        #14073952,
        #140739
      ),
      url("./../../assets/images/00005.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 225px;*/
  }

  .introduction-text p {
    width: 100% !important;
    text-align: center;
  }

  .introduction-text .gamers-season {
    width: 70% !important;
    margin-top: 72px;
  }
}

/* End INTRODUCTION-TEXT */





/* E-SPORT INTRODUCTION TEXT */
.esport-introduction-text {
  background: linear-gradient(
      #140739ab,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      #14073980,
      #140739c2,
      #14073986
    ),
    url("./../../assets/images/mask-group-bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat;
  text-align: center;
  padding: 4% 0 5%;
}

.esport-introduction-text .esport-introduction-text-content {
  width: 100% ;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esport-introduction-text .intro-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.esport-introduction-text .matches-date {
  background-image: url('../../assets/images/esport-intro-text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 1.5% 5% ;
  margin: 3% 0 3%;
  width: 75% ;
  font-size: 1.5vw;
}

.esport-introduction-text .matches-date span {
  font-size: 1.9vw;
}

.esport-introduction-text .follow-up {
  color: #991CE0;
  font-weight:lighter;
  font-size: 1.4vw;
}


@media screen and (max-width: 1024px) {
  .esport-introduction-text  {
    background: linear-gradient(
        #14073918,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        #14073952,
        #140739
      ),
      url("./../../assets/images/mask-group-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  
  .esport-introduction-text .esport-introduction-text-content {
    width: 100% ;
  }

  .esport-introduction-text .matches-date {
    margin: 2% 0 2%;
  }

  .esport-introduction-text .matches-date span {
    font-size: 2.9vw;
  }

  .esport-introduction-text .follow-up {
    font-size: 3vw;
  }
}
/* E-SPORT INTRODUCTION TEXT */