/* Start NAVBAR */
.eg8-navbar {
  z-index: 21;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.eg8-navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 142px;
  font-size: 1.2vw;
}

.eg8-navbar-content .esport-logo {
  width: 6.1vw;
}

.eg8-navbar-content .esport-logo img {
  width: 100%;
}

.eg8-navbar-content .esport-nav-menu {
  width: 48%;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  height: 100%;
}

.eg8-navbar-content .esport-nav-menu .nav-item {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px !important;
  position: relative;
  min-width: 125px;
}

.eg8-navbar-content .esport-nav-menu .nav-item img {
  position: absolute;
  bottom: 200px;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.eg8-navbar-content .esport-nav-menu .nav-item.active img {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  z-index: 1;
}

.eg8-navbar-content .esport-nav-menu .nav-item:hover img {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  z-index: 1;
}

.eg8-navbar-content .esport-nav-menu .nav-item small {
  z-index: 2;
}

.eg8-navbar-content .chng-to-arabic {
  font-weight: bold;
  font-family: "Noto Kufi Arabic", sans-serif;
  cursor: pointer;
}

/* End NAVBAR */
