.more-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info-card-p {
  margin-top: 20px;
  text-align: center;
  font-family: "Fractul-Alt";
}

.ar .more-info-card-p {
  font-family: "Swissra";
}

.more-info-card-img {
  height: 60px;
}

@media screen and (max-width: 1024px) {
  .more-info-card-img {
    max-width: 42px;
  }
  .more-info-card-p {
    margin-top: 10px;
    font-size: 2.5vw;
  }
}
