.paragraph {
  font-family: "AcuminVariableConcept";
  font-size: 1.55vw;
  line-height: 1.4;
}

.ar .paragraph {
  font-family: "Swissra";
}

@media screen and (max-width: 450px) {
  .paragraph {
    font-size: 3.9vw !important;
  }
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 3.4vw !important;
    line-height: 6vw;
  }
}
