@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Kufi+Arabic:wght@600&display=swap");

@font-face {
  font-family: "Fractul-Alt";
  src: url("./../assets/fonts/Fractul-Alt/FractulAlt-Regular.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Fractul-Alt-bold";
  src: url("./../assets/fonts/Fractul-Alt/FractulAlt-Bold.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Swissra Regular";
  src: url("./../assets/fonts/Swissra/Swissra/Swissra.eot"); /* IE9*/
  src: url("./../assets/fonts/Swissra/Swissra/Swissra.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./../assets/fonts/Swissra/Swissra/Swissra.woff2")
      format("woff2"),
    /* chrome、firefox */ url("./../assets/fonts/Swissra/Swissra/Swissra.woff")
      format("woff"),
    /* chrome、firefox */ url("./../assets/fonts/Swissra/Swissra/Swissra.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./../assets/fonts/Swissra/Swissra/Swissra.svg#Swissra Regular")
      format("svg"); /* iOS 4.1- */
}
