@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Kufi+Arabic:wght@600&display=swap");

@font-face {
  font-family: "Fractul-Alt";
  src: url("./../assets/fonts/Fractul-Alt/FractulAlt-Regular.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Fractul-Alt-bold";
  src: url("./../assets/fonts/Fractul-Alt/FractulAlt-Bold.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Swissra";
  src: url("./../assets/fonts/Swissra/Swissra.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Swissra-bold";
  src: url("./../assets/fonts/Swissra/Swissra-bold.otf");
  font-weight: 900;
}
