/* @font-face {
  font-family: "AcuminVariableConcept";
  src: url("./../assets/fonts/AcuminVariableConcept/AcuminVariableConcept.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "AcuminVariableConcept";
  src: url("./../assets/fonts/AcuminVariableConcept/AcuminVariableConcept.woff2");
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: "AcuminVariableConcept";
  src: url("./../assets/fonts/AcuminVariableConcept/AcuminVariableConcept.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "AcuminVariableConcept";
  src: url("./../assets/fonts/AcuminVariableConcept/AcuminVariableConcept.woff2");
  font-weight: bolder;
  font-display: swap;
} */


/* @font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./../assets/fonts/NotoKufiArabic/NotoKufiArabic-Regular.woff2");
  font-weight: 500;
  font-display: swap;
} */

@font-face {
  font-family: "Swissra";
  src: url("./../assets/fonts/Swissra/Swissra.woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Swissra-bold";
  src: url("./../assets/fonts/Swissra/Swissra-bold.otf");
  font-weight: 900;
  font-display: swap;
}
