:root {
  --violet-dark-color: #140739;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fractul-Alt-bold" !important;
  font-weight: bolder;
  color: #ffffff !important;
  background-color: var(--violet-dark-color) !important;
  transition: 0.1s all !important;
  scroll-behavior: smooth;
  position: relative;
}

@media screen and (max-width: 1024px) {
  body {
    text-align: center;
  }
}

body.ar {
  direction: rtl;
  font-family: "Swissra Regular" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}
/* ============================= */
/* ============================= */
/* ============================= */
/* ============================= */
/* ============================= */
.eg8-container {
  /*width: 1550px !important;*/
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .eg8-container {
    /*width: 91% !important;*/
    margin: 0 auto;
  }
}

.Container {
  width: 77%;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .Container {
    width: 87%;
  }
}
