:root {
  --violet-dark-color: #140739;
  --violet-ligth-move: #7977a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "AcuminVariableConcept" !important;
  font-weight: bolder;
  color: #ffffff !important;
  background-color: var(--violet-dark-color) !important;
  transition: 0.1s all !important;
  scroll-behavior: smooth;
  position: relative;
}

body.ar {
  direction: rtl;
  font-family: "Swissra-bold" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

.en_num {
  font-family: "AcuminVariableConcept" !important ;
}

.Container {
  width: 77%;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .Container {
    width: 87%;
  }
}

.navContainer {
  width: 94%;
  margin: 0 auto;
}




body {
  position: relative;
}


.loader-containerx{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999999999;
  flex-direction: column;
  background-color: #140739;
  
}

.loader-containerx img {
  width: 50px;
  margin-bottom: -87px;
  /* animation: logoAnimate 1.1s infinite ease-in-out; */
  transform: rotateX(50deg);
}

.loader-containerx.diactive {
  display: none;
}

@keyframes logoAnimate {
  from {
    width: 4%;
  }
  to {
    width: 5%;
  }
}

.loader {
  position: relative;
  /* margin: auto; */
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #0000;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}
.loader:before {
  border-top-color: #fff;
}
.loader:after {
  border-top-color: #991CE0;
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% { transform: rotate(360deg)}
}
@keyframes spinner-fade {
  25%, 75% { opacity: 0.1}
  50% { opacity: 1 }
}
    