@import "assets/fonts/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Kufi+Arabic:wght@600&display=swap");

@font-face {
  font-family: "Swissra Regular";
  src: url("020c2dc3c0d68296ff9850218827ae6b.eot"); /* IE9*/
  src: url("020c2dc3c0d68296ff9850218827ae6b.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("020c2dc3c0d68296ff9850218827ae6b.woff2") format("woff2"),
    /* chrome、firefox */ url("020c2dc3c0d68296ff9850218827ae6b.woff")
      format("woff"),
    /* chrome、firefox */ url("020c2dc3c0d68296ff9850218827ae6b.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("020c2dc3c0d68296ff9850218827ae6b.svg#Swissra Regular") format("svg"); /* iOS 4.1- */
}
/* ============================= */
/* ============================= */
/* ============================= */
/* ============================= */
/* ============================= */

:root {
  --violet-dark-color: #140739;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fractul Alt" !important;
  color: #ffffff !important;
  background-color: var(--violet-dark-color) !important;
  transition: 0.1s all !important;
  scroll-behavior: smooth;
  position: relative;
}

@media screen and (max-width: 1024px) {
  body {
    text-align: center;
    /*margin: 0;*/
    /*width: 100.1%;*/
  }
}

body.ar {
  direction: rtl;
  font-family: "Swissra Regular" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}
/* ============================= */
/* ============================= */
/* ============================= */
/* ============================= */
/* ============================= */
.eg8-container {
  /*width: 1550px !important;*/
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .eg8-container {
    /*width: 91% !important;*/
    margin: 0 auto;
  }
}

.Container {
  width: 77%;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .Container {
    width: 87%;
  }
}
